#battle {
    position: relative;
    width: 90vw;
    height: 45vw;
    margin: auto;
}

#background {
    width: 100%;
    height: 100%;
}

#pokemonImageUp{
    position: absolute;
    top: 25%;
    right: 20%;
    height: 27%;
    width: height;
}

#pokemonImageDown{
    position: absolute;
    bottom: 5%;
    left: 15%;
    height: 33%;
    width: height;
}
