#vista {
    background-image: url("images/arenaDeCombate.png");
    background-size: 1000 1000;
    background-repeat: no-repeat;
}

#pokemonImageUp{
	position:absolute; TOP:80px; LEFT:220px; WIDTH:px; HEIGHT:50px
}

#pokemonImageDown{
	position:absolute; TOP:200px; LEFT:50px; WIDTH:px; HEIGHT:50px
}

